<!DOCTYPE HTML>
<html>
<head>
<meta name="google-site-verification" content="pUSwQYtSDgOu_aMRIDrS0j4HtgHl4ejbMnoIvmfhA3I" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<meta name="robots" content="all">
<meta name="description" content="Pinalyzer, a Pinterest analytics tool. Your best friend to fully enjoy Pinterest.">
<meta name="keywords" content="pinterest, analytics, marketing, pinterest tool, tool, influence">

<title>Pinalyzer, Pinterest analytics tool</title>
<!-- QWq8a1HmaNj0dA5muBd8wpgQmEg -->

<!--[if IE]><script type="text/javascript" src="{{STATIC_URL}}satiata/excanvas.js"></script><![endif]-->

<link rel="Stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/cupertino/jquery-ui.css" type="text/css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<link rel="Stylesheet" type="text/css" href="static/pinapp/style.css"/>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32139124-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>


<div style="position:absolute;width:100%;height:100%">
  <div id="footer"></div>
</div>


<div id="container" style="width:536px;margin:0 auto;">
<img style="margin:0 auto;" src="static/pinapp/pinterest.png" alt="Pinalyzer"/>

  <div style="clear:both"></div>
</div>

<div rel="I90W93HI" class="lrdiscoverwidget" data-logo="on" data-background="off" data-share-url="www.pinalyzer.com/" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>



</body>
</html>
