* {
    margin: 0px;
    padding: 0px;
}

p{
	font-size:20px;
}
html {
    overflow-y: scroll;
    margin: 0px 0px;
    padding:0px 0px;
    border: 0px 0px;
}

body{
    background: #f7f5f5 url(../img/paper.jpg) repeat;
    font-family: Belleza, san-serif;
    margin: 0px 0px;
    padding:0px 0px;
    border: 0px 0px;
    
}

header{
	background-color: rgba(255,244,200,1);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	display: block;
}

.login-button, .logout-button{
	display: none;
    padding: 2px 7px;
    color:rgb(252,252,252);
    font-size:16px;
    text-align:center;
    box-shadow:0px 1px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    background:#5F78AB;
    border:1px solid #1a356e;
    font-weight:700;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.login-info{
	display: none;
}

.login-button:active{
	background:#3B5998;
}


#header-center{
	margin: 0px auto;
	width: 900px;
	position:relative;
	height: 90px;
}

div#logo{
	display: block;
	width: 450px;
	float: left;
	
}

h1#title, p#title-text{
	user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    
	font-family: 'Pacifico', cursive;
	text-align: left;
	margin: 0px 0px;
	padding:0px 0px;
	border: 0px 0px;
	font-weight: normal;
    display:block;
	
}

h1#title{
    color: rgb(204,34,37);
    font-size: 28px;
    text-shadow: 0px 2px  rgba(100,100,100,0.5);
    margin:0px;
}

p#title-text{
    color: rgb(90,90,90);
    font-size: 16px;
    display: inline-block;
    margin: 0px px;
}

div#content{
	margin: 0px auto 30px auto;
    width: 900px;
}

nav#main-nav{
	position : absolute;
	margin-top: 20px;
	top: 10px;
	left: 270px;
}

nav#main-nav a{
	margin: 5px 5px;
	/*border-radius: 5px 5px 5px 5px;*/
	padding: 8px 12px;
    color: rgb(90,90,90);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    box-shadow: 1px 1px 3px rgba(5,5,0,0.4);
    background-color: white;
    /*font-weight: bold;*/
    font-size: 18px;
    
}


nav#main-nav a:hover{
     color: rgb(204,34,37);
     
}
nav#main-nav a:active{
box-shadow: -1px -1px 3px rgba(5,5,0,0.4);
}


#log-div{
    position: absolute;
    top:2px;
    right:10px;
}

/* home.html*/

.lrdiscoverwidget{
	margin: 20px auto;
	display: table
}
.sectionname{
	font-weight: normal;
	color: rgb(204,34,37);
	font-family: 'Pacifico', cursive;
	text-decoration: none;
}

h1.section-title{
    text-align: center;
    color: rgb(204,34,37);
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 20px;
}

.pinalyzer{
	font-weight: normal;
	color: rgb(204,34,37);
    font-family: 'Pacifico', cursive;
}




.start-box{
    display: table;
    margin: 25px auto;
    padding: 20px;
    
    border: 1px solid rgb(150,150,150);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    
    background-color: rgba(200,200,200,0.5);
}

.start-box .form-div {
    display: table;
    margin: 0px auto;
}

.start-box input.textfield {
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-size: 24px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.start-box input.button {
    height: 43px;
    font-size: 20px;
    cursor:pointer;
    font-weight: bold;
}

.start-box .indication {
    margin: 20px;
    text-align: center;
    color: rgb(90, 90, 90);
}

#sharebuttons{
	display: table;
	position: fixed;
	top: 200px;
	left: 0px;
}

#sharebuttons span{
	display: block;
}