html {
	overflow-y: scroll;
}

#main{
margin-left: auto;
margin-right: auto;
width: 850px;
}

h1{
	text-align: center;
	color: rgb(204,34,37);
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	font-weight: normal;
	margin-top: 40px;
	postion:fixed;
}

#select{
	margin: 3px auto;
	display: table;
}

select{
	display:block;
	margin: 30px auto 5px auto;;
	width:150px;
}
body{
	background: #f7f5f5 url(../img/paper.jpg) repeat;
	font-family: Belleza, san-serif;
}

.battle{
	padding: 20px 20px;
	background-color:white;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	display: inline;
	margin: 0px 10px;
	cursor: pointer;
}

#pin1{
	transform:rotate(2deg);
	-ms-transform:rotate(2deg); /* IE 9 */
	-moz-transform:rotate(2deg); /* Firefox */
	-webkit-transform:rotate(2deg); /* Safari and Chrome */
	-o-transform:rotate(2deg); /* Opera */
}

#pin2{
	transform:rotate(-3deg);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-moz-transform:rotate(-3deg); /* Firefox */
	-webkit-transform:rotate(-3deg); /* Safari and Chrome */
	-o-transform:rotate(-3deg); /* Opera */
}
#progressbar{
	margin: 0px auto;
	padding: 0px 0px;
	
	width:120px;
	height:15px
}

table{
	margin: 3px auto;
	width: 700px;
 	padding: 20px 20px;
 	border-collapse: collapse;
}

tr{
	border-width: 0px 0px;
	border-style: solid;
	border-color: black;	
}

td p{
	text-align: center;
}
p{
	text-align: center;
}

nav{
	margin: 10px auto;
	display:table;
	padding:0px 60px;
	border-style: solid;
	border-color: black;
	border-width: thin 0px;
}

nav>a{
	padding: 5px 10px;
	margin:1px 3px;
	cursor: pointer;
	display: inline-block;
	
}

nav>a:hover {
	color: red;
}

td:first-child{
	font-size: 50px;
}

table a{
	color: rgb(50,50,50);
	text-decoration:none;
}

table a:hover{
	color: rgb(50,50,50);
	text-decoration:underline;
}

td:first-child div{
	text-align:center;	
}

.lrdiscoverwidget{
	position: absolute;
	top: -100px;
	left: 5px;
}
