#main{
margin-left: auto;
margin-right: auto;
width: 900px;
}



#select{
	margin: 3px auto;
	display: table;
}

select{
	display:block;
	margin: 5px auto 5px auto;;
	width:150px;
}

.battle{
	padding: 20px 20px;
	background-color:white;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	display: inline;
	margin: 0px 10px;
	cursor: pointer;
}

#pin1{
	transform:rotate(2deg);
	-ms-transform:rotate(2deg); /* IE 9 */
	-moz-transform:rotate(2deg); /* Firefox */
	-webkit-transform:rotate(2deg); /* Safari and Chrome */
	-o-transform:rotate(2deg); /* Opera */
}

#pin2{
	transform:rotate(-3deg);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-moz-transform:rotate(-3deg); /* Firefox */
	-webkit-transform:rotate(-3deg); /* Safari and Chrome */
	-o-transform:rotate(-3deg); /* Opera */
}
#progressbar{
	margin: 0px auto;
	padding: 0px 0px;
	
	width:120px;
	height:15px
}

table{
	margin: 3px auto;
	width: 700px;
 	padding: 20px 20px;
 	border-collapse: collapse;
}

tr{
	border-width: 0px 0px;
	border-style: solid;
	border-color: black;	
}

td p{
	text-align: center;
}
p#msg{
	text-align: center;
	font-size: 24px;
}

nav#nav-pinbattle{
	margin: 10px auto;
	display:table;
	padding:0px 60px;
	border-style: solid;
	border-color: black;
	border-width: thin 0px;
}

nav#nav-pinbattle>a{
	padding: 5px 10px;
	margin:1px 3px;
	cursor: pointer;
	display: inline-block;
}

nav>a:hover {
	color: red;
}

td:first-child{
	font-size: 50px;
}

#err{
	margin: 20px auto;
	display: table;
	color: rgb(204,34,37);
	font-size: 22px;
}

table a{
	color: rgb(50,50,50);
	text-decoration:none;
}

table a:hover{
	color: rgb(50,50,50);
	text-decoration:underline;
}

td:first-child div{
	text-align:center;	
}

.fb-like{
	width: 500px;
	margin: 0px auto;
}

#suscribe{
	width :300px;
	margin: 0px auto;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}

#suscribe>*{
    display: table;
    font-size: 14px;
    margin: 0px auto;
}

#login-button-ranking{
	display:table;
    margin: 20px auto 0px auto;
    padding: 2px 7px;
    color:rgb(252,252,252);
    font-size:25px;
    text-align:center;
    box-shadow:0px 1px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    background:#5F78AB;
    border:1px solid #1a356e;
    font-weight:700;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

#login-button-ranking:active{
    background:#3B5998;
}

#login-ranking{
	display: none;
	margin-top: 100px;
}
#login-ranking p{
	text-align: center;
	width: 400px;
	font-size: 20px;
}

#infovote{
    text-align: center;
    font-size: 24px;	
}

#nb-votes{
	color: rgb(204,34,37);
}

#loading-div {
    display: none;
    margin: 0px auto;
}

#loading-div img {
    display: table;
    margin: 0px auto;
}

#loading-div p {
    display: table;
    margin: 0px auto;
    font-size: 1.5em;
}

#loading-div img {
    margin-top:30px;
}


#quizz-res{
	display: none;
	box-shadow: 1px 1px 5px rgba(150,150,150,0.8);
	background-color: white;
	padding-bottom: 30px;
}
#quizz-res h2{
	display: table;
	margin: 0px auto;
	font-size: 34px;
	padding:10px 30px;
	border-bottom: 1px dashed black;
}
#quizz-res>p{
    display: table;
    margin: 0px auto;
    font-size: 26px;
    margin-top: 20px;
}

#alikes, #to-follow{
	margin: 10px;
}

#alikes{
	margin-right: 25px;
}

#alikes>div, #to-follow>div{
	margin:5px;
	border: 1px solid rgba(150,150,150,0.8);
	display: inline-block;
	
}
#alikes>p, #to-follow>p{
	font-size:24px;
	text-align: center;
	/*color: rgb(204,34,37);*/
	font-style: italic;
}
.user{
	background-color:rgb(245,245,245);
}

.photo{
	background-color:white;
	display: block;
	width: 100px;
    margin:auto 0px;
    min-height:100px;
}

.photo-div{
    height:100px;
    width:200px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 100px;
}
.user-info{
	display: inline-block;
	vertical-align: top;
    width: 300px;
    overflow: hidden;
    position: relative;
}

.user-info a{
	text-decoration: none;
	color: rgb(90,90,90);

}

.user-info a:hover{
     font-weight: bold;
     text-decation: underline;

}
.name{
	font-size: 24px;
	display: table;
	margin: 3px auto;
}

.location{
	margin-top: 30px;
	display: table;
	bottom: 0px;
	text-align: center;
	width: 100%;
	
}
