{% autoescape off %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style_pinalyzer.css"/>
    <script type="text/javascript" >
    
    	function setRanking(){
    		$.get("",function(result){
        		if (result.status=="OK"){
        			
        			for (var i=0; i<result.data.length; i++){
        				pin=result.data[i].info;
        				var html='<tr>';
            			html+='<td><a href="http://pinterest.com/pin/'+pin.pin_id+'"><img src="'+pin.url+'"/></a></td>';
            			html+='<td><p>'+(i+1)+'. Originally pinned by <a href=http://pinterest.com/'+pin.pinner_id+'">'+pin.pinner_name+'</a> onto <a href="http://pinterest.com/'+pin.pinner_id+'/'+pin.board_id+'">'+pin.board_name+'</a></p> </td>';
     
            			html+='</tr>';
            			$("table").append(html);
        			}
        		}
        	});
    	}
    	
    </script>
</head>

<body >
<div id="ranking">
</div>


		
</body>
{% endautoescape %}