{% extends "base.html" %}

{% block header %}
<script>
$(document).ready(function(){
	$("#nav-invite").css({
        'background-color':'rgb(204,34,37)',
        'color':'white'
    });
});

</script>
{% endblock %}

{% block content %}
    <div rel="I90W93HI" class="lrdiscoverwidget" data-logo="on" data-background="off" data-share-url="www.pinalyzer.com/" data-css=""></div>
    <script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
{% endblock %}

