{% extends "base.html" %} {% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/style_pinalyzer.css" />
{% endblock %} {% block below_header %}
<script type="text/javascript">

	
	var limit=5000; // Waiting time for the next couple
	var time=limit;
	var interval; // Interval object
	
	function getSmaller(url){
		return url.substr(0,url.length-5) +'b'+url.substr(url.length-4,url.length)
	}
	
	function getScale(w1,h1,w2,h2){

		d=$("#main").width()-($("#pin1").outerWidth(true)+$("#pin2").outerWidth(true)-$("#pin1").width()-$("#pin2").width()) -100;
		s1=d/(w1+h1*w2/h2);
		s2=s1*h1/h2;
		res= new Object();
		res.w1=parseInt(s1*w1);
		res.h1=parseInt(s1*h1);
		res.w2=parseInt(s2*w2);
		res.h2t=parseInt(s2*h2);
		return res;
	}
	
	function rotate(element, d){ // element is a jquery object ( get with $(...) )
		element.css({'transform':'rotate('+d+'deg)',
		'-ms-transform':'rotate('+d+'deg)', /* IE 9 */
		'-moz-transform':'rotate('+d+'deg)', /* Firefox */
		'-webkit-transform':'rotate('+d+'deg)', /* Safari and Chrome */
		'-o-transform':'rotate('+d+'deg)', /* Opera */
		});	
	}
	
	function rotateRandom(element, lower, higher){
		d=Math.floor(Math.random()*(higher-lower) +lower);
		rotate(element,d);
	}

		
	function setPins(){
		category=$("select").attr('value');
		$.ajax({
			url:"",
			cache:false,
			data: {category:category},
			success:function(result, textStatus, jqXHR){
				
				if (result['status']=='OK'){
					
					url1=result.data[0].url;
					url2=result.data[1].url;
					res=getScale(result.data[0].width, result.data[0].height, result.data[1].width, result.data[1].height);
					
					$("#pin1").attr({
						src :url1+'?'+new Date().getMilliseconds(),
						pin_id:result.data[0].pin_id,
						
					}).css({width: res.w1, height: res.h1});
					
					$("#pin2").attr({
						src :url2+'?'+new Date().getMilliseconds(),
						pin_id:result.data[1].pin_id,
					}).css({width: res.w2, height: res.h2});
					
					
					
					// display the pins only if they are both loaded
					
					$(".battle").off();
					pin_loaded=0;
					$(".battle").load(function(){
						pin_loaded++;
						
						if (pin_loaded ==2){
							rotateRandom($("#pin1"),-3,3);
							rotateRandom($("#pin2"),-3,3);
							$(".battle").css('opacity','1');
							startChrono();
							
							$(".battle").on('click',function() {				
								$(".battle").off();
								clicked=$(this);
								clearInterval(interval); // Stop the chrono
								if (this.id=="pin1"){
									$("#pin2").animate({ opacity: 0 },400, function(){
										$(".battle").css('opacity','0');
										sendResult(clicked.attr('pin_id'),setPins);
									});
								}
								else{
									$("#pin1").animate({ opacity: 0 },400, function(){
										$(".battle").css('opacity','0');
										sendResult(clicked.attr('pin_id'),setPins);
									});
								}
							});
						}
					});
					
					
					
					
				}
				else{
					alert(result.data);
				}
			},
		})
	}
	
	
	
	function sendResult(choice, callback) {
	pin1_id = $("#pin1").attr("pin_id");
		pin2_id = $("#pin2").attr("pin_id");
		$.ajax({
			type : "POST",
			url : "savematch",
			data : {pin1_id : pin1_id,
                pin2_id : pin2_id,
                choice : choice,
                fb_id : fb_id,},
			success : callback,
		});

	}

	function setRanking(perso) {
		if (typeof perso == "undefined") {
			perso = false;
		}

		category = $("select").attr('value');
		$.get("ranking", {
			category : category,
			perso : perso,
			fb_id: fb_id,
		}, function(result) {
			if (result.status == "OK") {
				$("table").css('display', 'none');
				for ( var i = 0; i < result.data.length; i++) {
					for ( var j = 0; j < result.data[i].length; j++) {
						pin = result.data[i][j];
						var html = '<tr>';
						html += '<td><div>' + (i + 1) + '</div></td>';
						html += '<td><a href="http://pinterest.com/pin/'+pin.pin_id+'"><img src="' + getSmaller(pin.url) + '"/></a></td>';
						html += '<td><p><a href="http://pinterest.com/'+pin.pinner_id+'">' + pin.pinner_name + '</a> onto <a href="http://pinterest.com/'+pin.pinner_id+'/'+pin.board_id+'">' + pin.board_name + '</a></p> </td>';
						html += '</tr>';
						$("table").append(html);
					}

				}
				$("table tr:even").css('background-color', '#FFFFD7');
				$("table tr:odd").css('background-color', 'rgba(255,255,255,0)');
				$("table").css('display', 'table');

				$('tr').mouseenter(function() {
					$(this).css('background-color', 'rgb(204,34,37)');
				})

				$('tr:even').mouseleave(function() {
					$(this).css('background-color', '#FFFFD7');
				})

				$('tr:odd').mouseleave(function() {
					$(this).css('background-color', 'rgba(255,255,255,0)');
				})
			} else {
				alert(result['data']);
			}
		});
	}

	jQuery(document).ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for ( var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		function sameOrigin(url) {
			// url could be relative or scheme relative or absolute
			var host = document.location.host; // host + port
			var protocol = document.location.protocol;
			var sr_origin = '//' + host;
			var origin = protocol + sr_origin;
			// Allow absolute or scheme relative URLs to same origin
			return (url == origin || url.slice(0, origin.length + 1) == origin + '/') || (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
			// or any other URL that isn't scheme relative or absolute i.e relative.
			!(/^(\/\/|http:|https:).*/.test(url));
		}
		function safeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

	function startChrono() {
		clearInterval(interval);
		time = limit;
		step = 10;

		$(function() {
			$("#progressbar").progressbar({
				value : 100
			});
		});
		interval = setInterval(function() {
			time -= step;
			$(function() {
				$("#progressbar").progressbar({
					value : time / limit * 100
				});
			});

			if (time <= 0) {
				clearInterval(interval);
				fadeout = false;
				$(".battle").off().animate({
					opacity : 0
				}, 700, function() {
					if (!fadeout) {
						fadeout = true;
					} else {
						setPins();
					}

				});
			}

		}, step);

	}

	function displayBattle() {
		$("#progressbar, #msg, #main").show();
		setPins();
		$("select").change(function() {
			clearInterval(interval);
			$(".battle").off('click');
			time = 0;
			setPins();
		});
	}

	function displayRanking(perso) {
		if (typeof perso == "undefined") {
			perso = false;
		}
		$("table").show();
		setRanking(perso);

		$("select").change(function() {
			resetPage();
			displayRanking(perso);
		});
	}

	function resetPage() {
		clearInterval(interval);
		$("#main img").off();
		$("#progressbar, #msg, #main, table").hide();
		$("table").children().remove();

	}

	$(document).ready(function() {
		$("#nav-battle").css({
			'background-color' : 'rgb(204,34,37)',
			'color' : 'white'
		});
		$("nav#nav-pinbattle a").click(function(event) {
			event.preventDefault();
			resetPage();
			if (this.id == "battle_menu") {
				displayBattle();
			} else if (this.id == "ranking_menu") {
				displayRanking();
			} else {
				displayRanking(true);
			}
		})

		displayBattle();

		$("body").off();
	});
</script>

{% endblock %} {% block content %}
<h1 id="pinbattle-title">Which pin do you prefer ?</h1>
{% csrf_token %}

<nav id="nav-pinbattle">
	<a id="battle_menu">Battle</a> <a id="ranking_menu">Overall ranking</a> <a id="persoranking_menu"> Your ranking </a>
</nav>
<!-- 
<div id="suscribe" class=login-info>
    <p>Want to see a pin you voted for ?</p>
    <div class=login-button>Login with facebook</div>
</div>
-->

<select>
	<option value="all">All</option> {% for cat in cat_list %}
	<option value="{{cat.category_id}}">{{cat.category_name}}</option> {% endfor %}
</select>


<div id="progressbar" style="width: 150px; height: 20px"></div>
<p id="msg">Click on the pin you prefer</p>
<div id="main">
	<img id="pin1" class="battle"> <img id="pin2" class="battle">
</div>
'

<table border=0></table>



{% endblock %}
